html, body {
    margin: 0;
    padding: 0;
    font-family:  'playfair Display' serif;
    scroll-behavior: smooth;
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.top-bar {
    background: #474747;
    color: white;
    padding: 10px 20px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    
}
.top-bar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    align-items: center;
}
.right-side {
    margin-right: 120px;
    text-align: right;
}
.right-side i {
    background-color: #5c5c5c;
    border-radius: 10px;
    font-size: 1.5rem;
}
.left-side {
    text-align: left;
    display: flex;
    align-items: center;   
}
.left-side i {
    background-color: #5c5c5c;
    border-radius: 10px;
    font-size: 1.5rem;
}
.contact-text {
    margin-left: 10px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.navbar-brand{

    display: flex;
    align-items: center;
    margin-left: 90px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 95px;
    gap: 10px;
}
.logo-text {
    font-size: 2.5rem;   
    font-family: 'playfair Display' serif;   
    font-style: italic;
    font-weight: bolder;
}
.nav-menu{
  margin-left: 300px; 

  
}
.nav-menu a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 10px 25px; /* Controls hover size */
    margin-left: 0px;
    border-radius: 30px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover animation */
}

.nav-menu a:hover {
    background-color: #dbdfd0;  
}

.nav-btn {
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 1.2rem;
    margin-right: 120px;
    margin-left: 120px;
    padding: 10px;
    color: black;
    text-decoration: none;

    transition: background-color 0.3 ease;
}
.nav-btn:hover {
    cursor: pointer;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
/*first page */
.hero-section {
    background: url('images/bg.png') no-repeat center/cover;
    background-size: cover;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content {
    text-align: center;
    font-family: 'playfair Display' serif;       
}
.big-text1 {
    font-size: 7rem;
    font-weight: 300; 
}
.small-text1 {
    font-size: 1.5rem;
    padding-top: 20px;
}
.button-link {
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.btn {
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #ad343e;
    border-color: #ad343e;
    padding: 15px;
}
.btn:hover {
    cursor: pointer;
}
.menu-link-btn {
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 15px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
}

/*2nd page, second page*/
.food-menu {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;  
    background-color: white; 
    flex-direction: column;
    background: url('images/whitebg.png') no-repeat center/cover;
    background-size: cover;
    height: calc(100vh - 250px);
    
}
.title {
    font-family: 'playfair Display' serif;
    font-size: 4rem; 
    padding-bottom: 3%;
    margin-top: 10%;
}
/*cards codes*/
/*breakfast, maind dishes, drinks, desserts*/
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
}
.breakfast,
.main-dish,
.drinks,
.desserts {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border: 4px solid #f3f3f0;
    padding: 40px;
    border-radius: 30px;
}
.title-breakfast,
.title-maindish,
.title-drinks,
.title-desserts {
    font-size: 3rem;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}
.breakfast i,
.main-dish i,
.drinks i,
.desserts i {
    font-size: 3rem;
    background-color: #f3f3f0;
    padding: 20px;
    border-radius: 45px;
    color: black;
}
.breakfast p,
.main-dish p,
.drinks p,
.desserts p {
    font-size: 1.2rem;
}
.breakfast a,
.main-dish a,
.drinks a,
.desserts a {
    text-decoration: none;
    color: #ad343e;
    font-size: 1.2rem;
    padding-top: 20px;
}
.breakfast a:hover,
.main-dish a:hover,
.drinks a:hover,
.desserts a:hover {
    text-decoration: underline;
}
/*3rd page about us*/
.about-us {
    margin-top: 20%;
    background-color: #f9f9f7;
    display: flex;
    position: relative;
    padding-bottom: 100px;
    

}

.calling-card-bg {
    height: 60vh;
    margin-left: 10%;
    margin-top: 5%;

}
.calling-card {   
    color: white;
    font-size: 1.2rem;
    background-color: #474747;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    border: 1px solid #474747;
    border-radius: 15px;
    position: absolute;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;    
    padding-bottom: 70px;
    left: 27%;
    top: 50%; 
}
.calling-card-text {
    font-size: 1.5rem;
    
    
}
.calling-card p,
.calling-card i {
    margin-right: 20px;
    font-size: 1rem;
    font-weight: lighter;
}
.calling-card p {
    margin-top: 30px;
}
.line-indent {
    display: inline-block;
    margin-left: 35px;
    margin-top: 5px;
}

.about-us-intro {
    margin-left: 15%;
    margin-top: 10%;
}
.about-us-intro h1 {
    font-weight: lighter;
    font-size: 5rem;
    margin-bottom: 20px;
}
.about-us-intro p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #6f7266;
}

.about-us-link {
    display: inline-block;
    border: 2.3px solid black;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    padding: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5rem;   
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    margin-top: 50px;
}












/* Mobile (portrait) */
@media (min-width: 360px) and (max-width: 390px){
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -190%;
        top: 120px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 10px 0;      
         
    }
    .nav-menu a {
        font-size: 1rem;
    }
    .nav-menu.active {
        left: -80%;
    }
    .logo {
        margin-left: 20px;
    }

    .top-bar {
        background: #474747;
        color: white;
        padding: 0px 10px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8rem;
        text-align: center;
        align-items: left;
        
        
    }
    .top-bar a {
        color: white;
        margin-left: 0px;
        text-decoration: none;
        align-items: center;
        
    }

    .right-side {
        margin-right: 0px;
        text-align: left;
    }
    .right-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }
    .left-side {
        text-align: left;
        display: flex;
        align-items: center;   
    }
    .left-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .navbar-brand{
    
        margin-left: 0px;
    }
    .logo {
        
        margin-left: 10px;
        gap: 10px;
    }
    .logo-text {
        font-size: 1.5rem;   
        
    }
    .logo-img {
        width: 25%;
    }

    .big-text1 {
        font-size: 3rem;
        font-weight: 300; 
    }
    .small-text1 {
        font-size: 1rem;
        padding-top: 20px;
    }

    .btn {
        border-radius: 30px;
        font-size: 0.8rem;
        color: white;
        background-color: #ad343e;
        border-color: #ad343e;
        padding: 15px;
    }
    .menu-link-btn {
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        border: 2px solid black;
        color: black;
        text-decoration: none;
    }
}
@media (min-width: 391px) and (max-width: 430px){
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -190%;
        top: 120px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 10px 0;      
         
    }
    .nav-menu a {
        font-size: 1rem;
    }
    .nav-menu.active {
        left: -72%;
    }
    .logo {
        margin-left: 20px;
    }

    .top-bar {
        background: #474747;
        color: white;
        padding: 0px 10px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8rem;
        text-align: center;
        align-items: left;
        
        
    }
    .top-bar a {
        color: white;
        margin-left: 0px;
        text-decoration: none;
        align-items: center;
        
    }

    .right-side {
        margin-right: 0px;
        text-align: left;
    }
    .right-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }
    .left-side {
        text-align: left;
        display: flex;
        align-items: center;   
    }
    .left-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .navbar-brand{
    
        margin-left: 0px;
    }
    .logo {
        
        margin-left: 10px;
        gap: 10px;
    }
    .logo-text {
        font-size: 1.5rem;   
        
    }
    .logo-img {
        width: 25%;
    }

    .big-text1 {
        font-size: 3rem;
        font-weight: 300; 
    }
    .small-text1 {
        font-size: 1rem;
        padding-top: 20px;
    }

    .btn {
        border-radius: 30px;
        font-size: 0.8rem;
        color: white;
        background-color: #ad343e;
        border-color: #ad343e;
        padding: 15px;
    }
    .menu-link-btn {
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        border: 2px solid black;
        color: black;
        text-decoration: none;
    }
}
@media (min-width: 431px) and (max-width: 480px){
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -190%;
        top: 120px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 10px 0;      
         
    }
    .nav-menu a {
        font-size: 1rem;
    }
    .nav-menu.active {
        left: -72%;
    }
    .logo {
        margin-left: 20px;
    }

    .top-bar {
        background: #474747;
        color: white;
        padding: 0px 10px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8rem;
        text-align: center;
        align-items: left;
        
        
    }
    .top-bar a {
        color: white;
        margin-left: 0px;
        text-decoration: none;
        align-items: center;
        
    }

    .right-side {
        margin-right: 0px;
        text-align: left;
    }
    .right-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }
    .left-side {
        text-align: left;
        display: flex;
        align-items: center;   
    }
    .left-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .navbar-brand{
    
        margin-left: 0px;
    }
    .logo {
        
        margin-left: 10px;
        gap: 10px;
    }
    .logo-text {
        font-size: 1.5rem;   
        
    }
    .logo-img {
        width: 25%;
    }

    .big-text1 {
        font-size: 3rem;
        font-weight: 300; 
    }
    .small-text1 {
        font-size: 1rem;
        padding-top: 20px;
    }

    .btn {
        border-radius: 30px;
        font-size: 0.8rem;
        color: white;
        background-color: #ad343e;
        border-color: #ad343e;
        padding: 15px;
    }
    .menu-link-btn {
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        border: 2px solid black;
        color: black;
        text-decoration: none;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -140%;
        top: 130px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 16px 0;       
    }
    .nav-menu.active {
        left: -39%;
    }
    .logo {
        margin-left: 20px;
    }
}
/* Tablets (portrait and small landscape) */
@media (min-width: 769px) and (max-width: 911px) {
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -140%;
        top: 130px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 16px 0;       
    }
    .nav-menu.active {
        left: -37.5%;
    }
    .logo {
        margin-left: 20px;
    }
}
@media (min-width: 912px) and (max-width: 1023px) {
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -140%;
        top: 130px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 16px 0;       
    }
    .nav-menu.active {
        left: -33%;
    }
    .logo {
        margin-left: 20px;
    }
}
/* Desktops and large tablets (landscape) */
@media (min-width: 1024px) and (max-width: 1200px) {
    .hamburger {
        display: block;
    }
    .hamburger.active  .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        position:fixed;
        left: -140%;
        top: 130px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-sizing: border-box;
    }
    .nav-link {
        margin: 16px 0;       
    }
    .nav-menu.active {
        left: -30%;
    }
    .logo {
        margin-left: 20px;
    }
}
/* Large screens (desktops, laptops) */
@media (min-width: 1201px) and (max-width: 1500px){
    .top-bar {
        background: #474747;
        color: white;
        padding: 10px 20px;
        padding-left: 70px;
        display: flex;
        justify-content: space-between;
        
    }
    .top-bar a {
        color: white;
        margin-left: 15px;
        text-decoration: none;
        align-items: center;
    }
    .right-side {
        margin-right: 120px;
        text-align: right;
    }
    .right-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    .left-side {
        text-align: left;
        display: flex;
        align-items: center;   
    }
    .left-side i {
        background-color: #5c5c5c;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    .contact-text {
        margin-left: 10px;
    }

    .navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
    }
    .nav {

        
        align-items: center;
        padding: 10px;
        
    }
    .navbar-brand{
    
        display: flex;
        align-items: center;
        margin-left: 90px;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 60px;
        gap: 5px;
    }
    .logo-text {
        font-size: 2.5rem;   
        font-family: 'playfair Display' serif;     
        font-style: italic;
        font-weight: bolder;
    }
    .nav-menu{
      margin-left: 0px; 
    
      
    }
    .nav-menu a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        padding: 10px 15px; /* Controls hover size */
        margin-left: 10px;
        border-radius: 30px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth hover animation */
    }
    
    .nav-menu a:hover {
        background-color: #dbdfd0;  
    }
    
    .nav-btn {
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: 1.2rem;
        margin-right: 120px;
        margin-left: 50px;
        padding: 10px;
        color: black;
        text-decoration: none;
    
        transition: background-color 0.3 ease;
    }
    .nav-btn:hover {
        cursor: pointer;
    }

    /*1st page*/
    big-text1 {
        font-size: 5rem;
        font-weight: 300; 
    }
    .small-text1 {
        font-size: 1rem;
        padding-top: 20px;
    }
    .button-link {
        gap: 20px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
    .btn {
        border-radius: 30px;
        font-size: 1.2rem;
        color: white;
        background-color: #ad343e;
        border-color: #ad343e;
        padding: 15px;
    }

    /*2nd page*/
    .food-menu {
        padding-top: 15%;
    }
    /*2nd page, second page*/

    .title {
        font-family: 'playfair Display' serif;
        font-size: 3rem; 
        padding-bottom: 3%;
    }
    /*cards codes*/
    /*breakfast, maind dishes, drinks, desserts*/
    
    .breakfast,
    .main-dish,
    .drinks,
    .desserts {       
        padding: 20px;       
    }
    
    .breakfast i,
    .main-dish i,
    .drinks i,
    .desserts i {
        font-size: 1.5rem;       
        padding: 20px;
    }
    .breakfast p,
    .main-dish p,
    .drinks p,
    .desserts p {
        font-size: 1rem;
    }
    .breakfast a,
    .main-dish a,
    .drinks a,
    .desserts a {       
        font-size: 1.2rem;       
    }
    
}








